#omardiv{
    margin: 25px;
    background-color: rgb(177, 127, 127);
    padding: 25px;
    width: 750px;
    height: 500px;
    border: 15px groove rgb(152, 76, 76);
 }
 #azucenadiv{
    margin: 25px;
    background-color: rgb(128, 148, 241);
    padding: 25px;
    width: 750px;
    height: 500px;
    border: 15px groove rgb(3, 65, 250);
 }
#lizethdiv{
    margin: 25px;
    background-color: rgb(160, 223, 133);
    padding: 25px;
    width: 750px;
    height: 700px;
    border: 15px groove rgb(88, 241, 139);
 }
#sebastiandiv{
    margin: 25px;
    background-color: rgb(232, 210, 119);
    padding: 25px;
    width: 750px;
    height: 550px;
    border: 15px groove rgb(219, 152, 52);
 }
#karinadiv{
    margin: 25px;
    background-color: rgb(170, 254, 255);
    padding: 25px;
    width: 750px;
    height: 550px;
    border: 15px groove rgb(0, 217, 255);
 }
=======
/* estilos para imagenes */
.contenedorFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

 img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
body{
    background-color: rgb(242, 250, 255);
}
#divportada{
    background-color: rgb(197, 246, 255);
    margin: 20px;
}
form {
    width: 400px;
    margin: 20px ; 
    padding: 20px ;
    border: 2px solid #f7c9e0;
    border-radius: 10px;
    background-color: #be98f7;
    box-shadow:10px,2px #1e1d1d;
    font-family: "Segoe UI", sans-serif;
    font-style: italic;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #2c2f32;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #5b448a;
    border-radius: 6px;
    background-color: #faf8fb;
    color: #212020;
}

input[type="submit"] {
    background-color: #220227;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
}

input[type="submit"]:hover {
    background-color: #cd50fb;
}

.contenedorFlex h2 {
    text-align: center;
    width: 100%;
    margin: 0;
}

.contenedorFlex img {
    display: block;
    margin: 0 auto;
}
